<div class="flex">
  <div class="background-imagen">
    <div class="text">
      THE FUTURE OF THE MOBILITY
    </div>
  </div>
  <div class="aboutus">
    <div class="text2">
      <span class="eve">EVE</span> es una empresa innovadora dedicada a la
      monitorización de vehículos eléctricos (EV).
      Nuestra misión es proporcionar tecnología de punta y
      servicios de análisis de datos para optimizar el rendimiento,
      la eficiencia y la seguridad de los vehículos eléctricos en todo
      el mundo.
    </div>
  </div>
</div>